WPS_GEOG/
WPS_GEOG_old/
mfe_input
mfe_scratch/
wrfhydro_forcing/
*.tar
*.gz
*.zip
*.nc
*.grib*
*.header
*.exe
*.log
__pycache__/
\.vscode/
metgrid4wrfinput/metgrid/
metgrid4wrfinput/ERA5land:*
!metgrid4wrfinput/metgrid/METGRID.TBL.NMM.wrf-hydro
ungrib4wrfinput/
!ungrib4wrfinput/namelist.wps
!ungrib4wrfinput/Vtable
era5-land/regridded/
wrfhydro_run/run*/out/
wrfhydro_run/run*/diag_hydro.*
wrfhydro_run/run*/test.out
wrfhydro_run/run*/test.err
wrfhydro_run/run*/wrf_run
wrfhydro_run/run*/*.exe
wrfhydro2wrfinput/modified
wrfhydro2wrfinput/original