WPS_GEOG/
mfe_input
mfe_scratch/
wrfhydro_forcing/
*.gz
*.zip
*.nc
*.grib*
*.header
*.exe
*.log
__pycache__/
\.vscode/
metgrid4wrfinput/metgrid/
metgrid4wrfinput/ERA5land:*
!metgrid4wrfinput/metgrid/METGRID.TBL.NMM.wrf-hydro
ungrib4wrfinput/
!ungrib4wrfinput/namelist.wps
!ungrib4wrfinput/Vtable
wrfhydro_run/
!wrfhydro_run/*.TBL
!wrfhydro_run/hydro.namelist
!wrfhydro_run/namelist.hrldas
!wrfhydro_run/submit.slurm

